#choropleth_map {
	top: 1px;
	bottom: 100px;
	align-self: center;
	/*height: 1000px;
	width: 800px;*/
}

.pure-u-1 img {
	width: 90vw;
}

.pure-u-1-3 img {
	width: 30vw;
	height: 30vw;
}

.pure-u-1-3 {
	margin-top: 10px;
}

.heading_format {
	margin: 0;
	padding: 1;
}

h1 {
	text-align: center;
	color: black;
	font-size: 60px;
	font-family: "Elephant";
	padding-top: 20px;
}

h2 {
	text-align: center;
	color: black;
	font-size: 30px;
	font-family: "Elephant";
	padding: 10px;
}

h3 {
	text-align: center;
	color: black;
	font-size: 18px;
	font-family: "Rockwell";
}

p {
	text-align: center;
	size: 14px;
	font-family: "Rockwell";
}

.page {
	width: 1400px;
	background-color: white;
	margin: auto;
}

.custom-column1 {
	width: 15%;
	box-sizing: border-box;
	padding-left: 5px;
}

.custom-column2 {
	width: 70%;
}

.custom-column3 {
	width: 15%;
}

body {
	background-color: lightgrey;
}
.vis-container {
	width: 100%;
}